@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent;
@attribute [StyleSheet]


<root>
    <Crosshair />
	<KillFeed @ref="KillFeed" />
	<Chat @ref="Chat" />

    <div class="main">
        @for (int i = 0; i < disks; i++)
        {
            <img class="disk" src="@diskTexture" />
        }
    </div>
</root>

@code
{
    [Property]
	private int killFeedLifeTime = 5000;
	
	private string diskTexture = "/ui/disk.png";

    private int disks = 3;

    public KillFeed KillFeed { get; set; } = new();
    public Chat Chat { get; set; } = new();

    protected override void OnStart()
    {
		KillFeed.LifeTime = killFeedLifeTime;
    }

    public void ChangeDisks( int disks )
    {
        this.disks = disks;

        StateHasChanged();
    }
}
