@using Sandbox;
@using Sandbox.UI;
@using System.Threading.Tasks;
@inherits PanelComponent;
@attribute [StyleSheet]
@implements IKillFeed;

<root> 
	@foreach ( Kill kill in kills.Reverse<Kill>() )
    {
        <div class="killfeed-entry">
            <span class="attacker">@( kill.Attacker.Name )</span>
            @* killed *@
            <img class="killicon" src="@killfeed_icon"/>
            <span class="victim">@( kill.Victim.Name )</span>
        </div>
    }
</root>

@code
{
    private string killfeed_icon = "/ui/killicon.png";
    private List<Kill> kills = new();

    [Property]
    private int messageLifeTime = 5000;

    public void AddKill( Player attacker, Player victim )
    {
        if ( IsProxy )
            return;

        Kill kill = new Kill(attacker, victim);
        kills.Add(kill);

        StateHasChanged();

        _ = DestroyMessage();
    }

    private async Task DestroyMessage() 
    {
        await Task.Delay( 5000 );

        kills.RemoveAt( kills.Count - 1 );

        StateHasChanged();
    }
}
